
<div class="login">
    <h4>Informe os seus dados abaixo para acessá.</h4>
    <div class="textbox">
        <fa-icon [icon]="['far', 'envelope']"></fa-icon>
        <input type="email" placeholder="email" name="email" value="">
    </div>
    <div class="textbox">
        <fa-icon [icon]="['fas', 'lock']"></fa-icon>
        <input type="password" placeholder="Senha" name="password" value="">
    </div>
    <div>
        <input class="entra" type="submit" name="" value="ENTRAR">
    </div>
    <a routerLink="/cadastro">Cadastre-se</a>
</div>